.root {
    display: flex;
    flex-direction: column;
}

.editorsContainer {
    display: flex;
    flex-direction: column;
}

.fieldEditorGroup {
    display: flex;
    flex-direction: column;
}

.fieldLabel {

}
