.header {

}

.cell {
    align-items: center;
    background-color: #f4f6f7;
    display: flex;
    flex: 1 0;
    padding: 8px 4px;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
    border: 1px solid #d6dde2;
    border-top-style: none;
}

.columnHeaders {
    display: flex;
    flex-direction: row;
    justify-content:stretch;
}
