.root {
    display: flex;
    flex-direction: column;
}

.editorsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.fieldEditorGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.fieldLabel {
    margin-bottom: 2px;
}
